@import '../../assets/styles/vars.scss';

/***
 * Component styles
 *
 */

.App-footer {
    background: $black;
    color:      $white;
    font-size:  .8rem;
    height:     8vmin;
    padding:    .5rem 0;
}
