
/***
 * Component styles
 *
 */

.film-buttons .btn {
    border-radius: 5px;
}
.film-buttons .btn:first-child {
    border-radius: 5px 0 0 5px;
    border-right:  0;
}
.film-buttons .btn:last-child {
    border-radius: 0 5px 5px 0;
}
.film-list .film {
    display:       inline-block;
    margin-bottom:  .5rem;
    margin-right:   .5rem;
    padding:        .5rem;
    padding-bottom: 0;
}
.film-title {
    margin-bottom: .5rem;
}
