@import '../../assets/styles/vars.scss';

/***
 * Component styles
 *
 */

.App-filmlist {
    background:   $black;
    border:       2px solid $title-color;
    border-width: 0 0 2px;
    height:       68vmin;
}
