@import '../../assets/styles/vars.scss';

/***
 * Component styles
 *
 */

.film-details {
    background: $black;
    color: $white;
    padding: 2rem 0;

    * {
        border: none !important;
        color: $white !important;
    }
    img {
        margin: 0 auto;
        max-width: 240px;
    }
    .custom-card {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        background: $black;
        border: none;
        color: $white;
        margin: 0 auto;
        width: 98%;

        .rating {
            font-size: 2rem;
            margin-bottom: 2.5rem;
            .active {
                color: $title-color !important;
            }
        }
    }
    .custom-card:hover {
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
        background: $black !important;
        border: none !important;
        color: $white !important;
        cursor: unset !important;
        transform: unset !important;
    }
}

@media (min-width:519px) {
    .film-details {
        img {
            margin: 0 auto;
            max-width: 280px;
        }
        .custom-card {
            width: 90%;
        }
    }
}

@media (min-width:779px) {
    .film-details {
        img {
            margin: 0 auto;
            max-width: 320px;
        }
        .custom-card {
            width: 78%;
        }
    }
}

@media (min-width:919px) {
    .film-details {
        .custom-card {
            width: 70%;
        }
    }
}

@media (min-width:1279px) {
    .film-details {
        img {
            margin: 0 auto;
            max-width: 380px;
        }
    }
}
